html {
    overflow-x: hidden;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

.container-fluid.mine-fluid {
    padding: 0;
}


/* ------------NAVBAR------------- */

.mine-nav {
    background-color: none;
    padding-left: 0;
    padding-right: 0;
}


.mine-nav .navbar-brand {
    font-family: 'Pacifico';
    font-size: 2.5rem;
    line-height: 1;
}

.mine-nav .nav-item {
    font-weight: 600;
    padding: 0.3rem;
}

.mine-nav.navbar a.nav-link {
    padding: 0.1rem;
    color: black;

}

.mine-nav.navbar a.nav-link:hover {
    color: black;
}

.mine-nav .nav-item.active .nav-link {
    border-top: 2px solid #ff6033;
}

.mine-nav .nav-item .nav-link {
    border-top: 2px solid transparent;
}

.mine-nav .nav-link:hover {
    border-top: 2px solid #ff6033;
    color: black;
    transition: 0.5s
}

.mine-nav .nav-link:focus {
    color: black;
}

.fixed {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 2px 14px -3px rgba(0, 0, 0, 0.5);
    border-radius: 0;
}

.navbar-nav {
    margin-left: auto;
}

.mine-toggler {
    margin-left: auto;
}

.mine-empty {
    height: 66px;
    display: none;
}

.mine-nav .row {
    width: 1140px;
    margin: auto;
}

.fixed .row {
    padding-right: 15px;
    padding-left: 15px;
}


/* ---------------SECTION-1---------------- */

.mine-section-1 {
    background: url(../images/strawberry-background.png) no-repeat;
    background-position: 55% 0%;
    background-size: auto 130%;
    min-height: 100vh;
}

.mine-section-1 .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.mine-btn {
    background-color: #ff6033;
    color: white;
    border-radius: 0;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.mine-h2 {
    font-weight: 900;
    font-size: 2.5rem
}

.mine-scroll {
    padding: 0 0 1rem;
    animation: slide-bottom 2s ease-in-out infinite;
}

.mine-0-padding {
    padding: 0
}

.mine-s1-text {
    margin-top: 5%;
}

.mine-btn:hover {
    color: white;
    filter: saturate(200%);
    transform: scale(1.05);
    transition: 0.1s;
}

/*--------------------SECTION-2-------------------*/

.mine-section-2 {
    background-color: #00b6b6;
    padding: 1rem 0;
}

.mine-h-section {
    color: white;
    font-weight: 700;
    font-size: 3rem;
}

.mine-p-section-2 {
    color: white;
}

/*----------------------SECTION-3----------------------*/

.mine-section-3 {
    background-color: #70bfff;
    padding: 1rem 0
}

.mine-beam {
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.55);
}

.mine-beam:last-of-type {
    margin-bottom: 2.1rem;
}

.mine-beam:first-of-type {
    margin-top: 0.9rem;
}

.mine-beam p {
    margin: 0;
    font-weight: 700
}

.mine-beam .mine-img {
    padding: 0.5rem 0;
    border-left: 1px solid #9d9d9d;
    display: flex;
    height: 70px;
}

.mine-background-section-3 {
    position: relative;
}

.mine-background-section-3 p {
    position: absolute;

    top: 50%;
    left: 0;
    transform: translateY(-50%)
}

.mine-img img {
    width: 40%;
    height: auto;
}

.mine-beam:hover {
    animation: jello-vertical 1s both;
}


/* ----------------------SECTION-4----------------------*/

.mine-section-4 {
    background-color: #ffe92f;
    padding: 1rem 0
}

.mine-h-seciton-4 {
    color: black;
}

.mine-gallery {
    padding-bottom: 1rem;
    overflow: hidden;

}

.mine-gallery:last-of-type {
    padding-bottom: 0;

}

.mine-mini-photo-a {
    padding-bottom: 1rem;

}

.mine-mini-gallery {
    display: flex;
}

.mine-btn-section-4 {
    background-color: #5585a2;
    margin-top: 1rem;
}

.mine-gallery-photo {
    overflow: hidden;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.3);
}

.mine-gallery-img:hover {
    transform: scale(1.2);
    transition: 1s;

}

/* ---------------------SECTION-5----------------------*/

.mine-section-5 {
    padding: 1rem 0;
}

.mine-btn-section-5 {
    background-color: #96b92c;
}

.mine-email {
    border-radius: 0;
    border: 1px solid;
}

.mine-email:focus {
    box-shadow: 0px 0px 8px 0px rgba(81, 86, 196, 0.65);
    border: 1px solid #5156c4;
}

/* ---------------------SECTION-6----------------------*/

.mine-section-6 {
    padding: 1rem 0;
    background-color: #b07cf7
}

.mine-btn-section-6 {
    background-color: #f72b3b;
    margin-top: calc(1rem - 15px);
}

.mine-blog {
    position: relative;
    display: flex;
    justify-content: center;
}

.mine-blog-date {
    width: 55px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: absolute;
    top: 0;
    margin: 1rem;
}

.mine-blog-date p {
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.8rem
}

.mine-blog-date p:last-of-type {
    font-size: 1.2rem
}

.mine-blog-title {
    position: absolute;
    bottom: 0;
    padding: 3rem 1rem 1rem;
    margin-right: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    max-width: 372px
}

.mine-blog-title p {
    margin-bottom: 0;
    color: white
}

.mine-blog-title h4 {
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
}

.mine-blog-photo img:hover {
    transform: scale(1.2);
    transition: 1s;
}

.mine-blog-photo {
    overflow: hidden;
}

/* ----------------------SECTION-7----------------------*/

.mine-section-7 {
    padding: 1rem 0;
    background: url(../images/contact-background.png) no-repeat center center;
    background-size: cover;

}

.mine-form-input {
    margin-bottom: .75rem;
    background-color: rgba(0, 196, 196, 0.5);
    outline: none;
    border: none;
    border-radius: 0;
    resize: none;
}

.mine-form-input::placeholder {
    color: white
}

textarea.mine-form-input {
    height: 15rem;
}

.address p:first-of-type {
    margin: 0;
    font-weight: 700;
}

.address p {
    color: white;
    line-height: 1.2rem;
}

.address {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 15px;
}

.mine-form-input:focus {
    background-color: rgba(0, 196, 196, 1);
    border: none;
    border-left: 3px solid #355b82;
    box-shadow: none;
    font-weight: 700;
    color: white;
}

/*-----------------------FOOTER------------------------ */

footer {
    background-color: #262626;
    padding: .2rem 0;
}

.mine-footer p {
    color: white;
    margin: 0;
    line-height: 2rem
}

.mine-footer p span {
    color: #ff2b58;
    font-weight: 700
}

.mine-brand {
    font-family: pacifico;
    font-size: 1.5rem
}

.mine-footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.mine-footer-center a {
    text-decoration: none;
}

/* ---------------------KEYFRAMES---------------------*/

@keyframes slide-bottom {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(1rem);
    }
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}


/* -----------------------MEDIA----------------------- */

@media (min-width:576px) {
    .mine-section-1 {
        background-size: cover;
        background-position: 35%
    }
    .fixed .row {
        width: 540px;
    }
}

@media (min-width:768px) {
    .mine-section-1 {
        background-position: center;
    }
    .mine-scroll {
        padding: 0 0 2rem;
    }
    .mine-section-2 {
        padding: 2rem 0;
    }
    .mine-section-3 {
        padding: 2rem 0;
    }
    .mine-section-4 {
        padding: 2rem 0;
    }
    .mine-section-6 {
        padding: 2rem 0;
    }
    .mine-section-7 {
        padding: 2rem 0;
    }
    .mine-img img {
        width: 60%;
    }
    .mine-mini-gallery {
        display: block;
    }
    .mine-gallery {
        padding-bottom: .6rem
    }
    .mine-left-gallery {
        padding-right: 0.3rem !important;
    }
    .mine-right-gallery {
        padding-left: 0.3rem !important;
    }
    .mine-mini-photo-a {
        padding-bottom: 0.3rem !important;

    }
    .mine-mini-photo-b {
        padding-top: 0.3rem !important;
    }
    .mine-btn-section-4 {
        margin-top: 1.4rem;
    }
    .mine-section-5 {
        position: relative;
        height: 300px;
    }
    .mine-background-section-5 {
        position: absolute;
        top: 2rem;
        right: 0;
        width: 420px;
    }
    .mine-subscribe-left {
        display: flex;
        height: 268px;
        align-items: center;
    }
    .mine-h-section-5 {
        font-size: 2rem;
        font-weight: 700;
    }
    .mine-btn-section-6 {
        margin-top: calc(2rem - 15px);
    }
    .address p {
        color: black
    }
    .address {
        background-color: transparent;
        margin: 0 0 0 2.5rem;
    }
    textarea.mine-form-input {
        margin-bottom: 0;
    }
    footer {
        padding: 1rem 0;
    }
    @keyframes slide-bottom {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(2rem);
        }
    }
    .fixed .row {
        width: 720px;
    }

}

@media (min-width:992px) {
    .mine-beam .mine-img {
        height: 80px;
    }
    .mine-beam .mine-img {
        height: 80px;
    }
    .mine-beam {
        margin-bottom: 1.5rem;
    }
    .mine-gallery {
        padding-bottom: .8rem
    }
    .mine-left-gallery {
        padding-right: 0.4rem !important;
    }
    .mine-right-gallery {
        padding-left: 0.4rem !important;
    }
    .mine-mini-photo-a {
        padding-bottom: 0.4rem !important;

    }
    .mine-mini-photo-b {
        padding-top: 0.4rem !important;
    }
    .mine-btn-section-4 {
        margin-top: 1.2rem;
    }
    .mine-background-section-5 {
        width: 480px;
    }

    .mine-subscribe-left {
        height: 298px;
    }
    .mine-section-5 {
        height: 330px;
    }
    .address {
        background-color: transparent;
        margin: 0 0 0 5rem;
    }
    .fixed .row {
        width: 960px;
    }

}

@media (min-width:1200px) {
    .mine-beam .mine-img {
        height: 90px;
    }
    .mine-beam {
        margin-bottom: 1.7rem;
    }
    .mine-gallery {
        padding-bottom: 1rem
    }
    .mine-left-gallery {
        padding-right: 0.5rem !important;
    }
    .mine-right-gallery {
        padding-left: 0.5rem !important;
    }
    .mine-mini-photo-a {
        padding-bottom: 0.5rem !important;

    }
    .mine-mini-photo-b {
        padding-top: 0.5rem !important;
    }
    .mine-btn-section-4 {
        margin-top: 1rem;
    }

    .mine-background-section-5 {
        width: auto;
    }

    .mine-subscribe-left {
        height: 368px;
    }
    .mine-section-5 {
        height: 400px;
    }
    .address {
        background-color: transparent;
        margin: 0 0 0 7.5rem;
    }

    .fixed .row {
        width: 1140px;
    }

}

@media (min-width:1500px) {
    .mine-section-5 .container {
        position: relative;

    }
    .mine-background-section-5 {
        top: 1rem;
    }
}
